*{
    border-collapse: collapse;
    box-sizing: border-box;
}
#id1{
    width:100px;
    height:100px;
    color:red;
    display:inline-box;
}
.redbox100{
    width:100px;
    height:100px;
    background:red;
    color:#fff;
    display:inline-block;
    padding:10px;
}

.loginForm{
    width:500px;
    border:2px solid black;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.loginForm .form-group{
    margin:10px;


}
.loginForm .btn{
    margin:10px;
}